<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>tripApp Test Page</title>  
        <link rel="stylesheet" href="../stylesheets/map.css">
    </head>
    <body>
        <header>
            <div class="container">
              <div id="branding">
                <h1><span class="highlight">trip</span>App</h1>
              </div>
              <nav>
                <ul>
                  <li><a href= "/map">Map</a></li>
                  <li><button id="logout">Logout</button></a></li>
                </ul>
              </nav>
            </div> 
        </header>
        <p>Hello! <%= user %> </p>

        <% if (typeof placeDetails !== 'undefined') { %> <% placeDetails.forEach(placeDetail => { %>
          <p><%= placeDetail %></p>
          <% }) %> <% } %>

    </body>
</html>
