html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/original/62e82e1930f6baca939a2d765312efb0/photo-1581896184337-1330180ac3e6");
}

#map-canvas {
    margin: 10px auto 0 auto;
    padding-left: 10%;
    height: 100%;
}

#map {
    position: absolute;
}

table {
    font-size: 12px;
}

.hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
}

#map {
    margin-top: 0px;
    margin-left: 0px;
    left: 20%;
    width: 60%;
    height: 100vh;
    padding: 0px;
}

#listing {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100vh;
    overflow: auto;
    margin-left: 0px;
    top: 0px;
    cursor: pointer;
    overflow: scroll;
    background-color: #fff;
    padding: 0px;
    scrollbar-width: none;
}

.photo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: auto;
    max-width: 100%
}

#findhotels {
    font-size: 20px;
    padding: 5px;
}

#locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 5px;
}

#autocomplete {
    width: 100%;
}

#country {
    width: 100%;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 100%;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin:0;
    padding:0;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    /*float: left;*/
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}


.button_1{
    height: auto;
    position: relative;
    top: 100px;
    right: 140px;    
}

#weather {

    position: absolute;
    margin-left: 70%;
    margin-right: 0px;
    width: 10%;
    height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    }

#date-picker{
    position: relative;
    width: 95%;
    margin: 0 auto;
}

#weatherbutton {
    width: 95%;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


#wez-type {

    /*background-color: greenyellow;*/
    padding: 7px;
    margin: 7px;
    background-color: white;
    border-radius: 25px;
        
}
